<div class="container-fluid">
    <div class="row">
        <form class="col-6 mx-auto">
            <h2>Log in</h2>
            <p>Don't have an account? <a href="/signup">Click here</a> to sign up instead.</p>
            <br>
            <div class="form-group">
                <label for="login-email">Email address</label>
                <input type="email" class="form-control" id="login-email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <button id="login-button" type="submit" class="btn btn-primary my-5 px-4">Log in</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>