<div class="container-fluid" data-comment-id="{{this.id}}">
    <div class="row">
        <div class="col-10 mx-auto">
            <!--Update existing comment-->
            <form>
                <h2>Update comment</h2>
                <p>Edit your comment and then click save when you're done.</p>
                <br>
                <div class="form-group">
                    <label for="update-comment">Comment</label>
                    <textarea rows="3" class="form-control" id="update-comment">{{comment}}</textarea>
                </div>
                <button id="update-comment-button" class="btn btn-primary my-3 px-4" data-comment-id="{{id}}">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/updateComment.js"></script>