/* Custom global styling */
:root {
    font-size: 62.5%;
    --font-heading: 'Karla', sans-serif;
    --font-main: 'Inconsolata', monospace;
    --blue: #1233FF;
}

/* Custom font and size styling */
body {
    color: white;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.65rem;
    line-height: 1.7;
}

h1,
h2 {
    font-family: var(--font-heading);
}

h1 {
   font-size: 6rem;
   color: white;
}

h2 {
   font-size: 4.5rem;
   background-color: white;
   color: var(--blue);
   width: fit-content;
}

h3, 
form label {
    color: var(--blue);
    font-family: var(--font-heading);
    font-size: 1.65rem;
}

header {
    background-color: var(--blue);
    /*background-image: url('./background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
}

.navbar a {
    font-size: 2rem; 
    color: white;
}

p,
.blockquote-footer {
    font-size: 1.65rem;
    color: rgb(85, 85, 85);
}

a {
    text-decoration: none;
}

.card {
    background-color: var(--blue);
}

.form-control {
    font-size: 1.65rem;
}

.btn-primary {
    font-family: var(--font-heading);
    font-size: 1.65rem;
    background-color: var(--blue);
    border: var(--blue);
}

hr {
    margin: 25px 0px;
}

#existing-comments .card {
    background-color: rgba(128, 128, 128, 0.105);
}